/*link per l'icona*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

   width: 512px; 
   background: #22c3a8;
   background: linear-gradient(0deg, rgba(34, 195, 168, 1) 9%, rgba(94, 45, 253, 1) 100%);
   padding-bottom: 50px;
}

#banner {

     width: 100%;
     position:sticky;
     margin: 0;   
} 


 h1{
   font-family: "Sigmar", sans-serif;
    font-style:normal;
    font-weight: bold;
    line-height: .9900; /* potevo usare margin: 1rem 0;*/
    color: aliceblue;
    text-align: center;
    margin-top: 80px;
    font-size: 30px;

}

 #primo-paragrafo {
    color:aliceblue;
    text-align: center;
    margin-top: 15px;
    margin-left: 18%; 
    margin-right: 19%;
    font-family: 'DM Sans';
}
 #windows {
   width: 300px;
    border-bottom: 2px solid black;
    border-radius: 8px;
    text-align: center;
    color:black;
    background-color: aliceblue;
    padding: 15px;
    margin-left: 20%; 
    margin-top:15px;
    font-family: 'DM Sans';
  
}

  #browser {
   width: 300px;
    border-bottom: 2px solid black;
    border-radius: 8px;
    text-align: center;
    color:aliceblue;
    background-color: rgb(80, 80, 231);
    padding: 15px;
    margin-top: 15px;
    margin-left: 20%; 
   font-family: 'DM Sans';

}

 #tabella {
   border-radius: 40px; 
   margin-top: 15px;
   margin-left: 20px; 
   margin-right: 20px;
   width: 468px;
}

 .sfondo {
   background-image: url(./img/background.png);
   background-repeat: no-repeat;
   background-size: 512px 1000px;
   border-radius: 40px; 
   margin-top: 50px;
   margin-left: 20px; 
   margin-right: 20px;
   width: 468px;
   border-block-color: rgb;
}

 /*style per l'icona*/
 .bi-cloud-upload{ 
   font-size: 20px;
   color: gray;
}


 .parole-grandi{
   font-family: "Sigmar", sans-serif;
   font-style:normal;
   font-weight: bold;
   line-height: .9900; 
   color: aliceblue;
   text-align:left;
   font-size: 30px;
   padding-left: 15px ;
   translate: 30px -45px ;

}

  .altri-paragrafi {
   color:aliceblue;
   text-align: left;
    font-family: 'DM Sans';
   padding-left: 50px; 
   padding-right: 50px;
}

 .video {
    border-radius: 60px; 
    margin-top: 15px ;
    margin-left: 35px ;
    padding: 30px;

}
 .icona-alta {
   width: 100px;
   translate: 173px -50px ;
}
