/*link per l'icona*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    border: 2px solid black;
    width: 512px; 
   /* background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: 512px 1000px;*/
    background-color: rgb(9, 9, 105);
}

#banner{

     width: 100%;
     position:sticky;
     margin: 0;   
} 


 h1{
   font-family:"Permanent Marker", cursive;
    font-style:normal;
    font-weight: bold;
    line-height: .85143;
    color: aliceblue;
    text-align: center;
    margin-top: 80px;
    font-size: 30px;

 }

 #primo-paragrafo {
    color:aliceblue;
    text-align: center;
    font-family: Arial;
    margin-top: 70px;
     margin-left: 19%; 
    margin-right: 19%;
 }

 #windows {
   width: 300px;
    border-bottom: 2px solid black;
    border-radius: 8px;
    text-align: center;
    color:black;
    background-color: aliceblue;
    padding: 15px;
    margin-left: 20%; 
    margin-top:15px;
  
 }

  #browser {
   width: 300px;
    border-bottom: 2px solid black;
    border-radius: 8px;
    text-align: center;
    color:aliceblue;
    background-color: rgb(80, 80, 231);
    padding: 15px;
    margin-top: 15px;
    margin-left: 20%; 

 }

 #tabella {
   border-radius: 40px; 
   margin-top: 15px;
   margin-left: 20px; 
   margin-right: 20px;
   width: 468px;
 }

 .sfondo {
   background-image: url(./img/background.png);
   background-repeat: no-repeat;
   background-size: 512px 1000px;
   border-radius: 40px; 
   margin-top: 15px;
   margin-left: 20px; 
   margin-right: 20px;
   width: 468px;
 }

 /*style per l'icona*/
 .bi-cloud-upload{ 
   font-size: 20px;
   color: gray;
 }


 .parole-grandi{
   font-family:"Permanent Marker", cursive;
    font-style:normal;
    font-weight: bold;
    line-height: .85143;
    color: aliceblue;
    text-align:left;
    margin-top: 80px;
    font-size: 30px;
    margin-top: 60px;
    padding-left: 50px ;
    padding-top:60px;

 }

  .altri-paragrafi {
    color:aliceblue;
    text-align: left;
    font-family: Arial;
    padding-top: 30px;
    padding-left: 50px; 
    padding-right: 50px;
 }

 .video {
    border-radius: 40px; 
    margin-top: 15px ;
    margin-left: 35px ;
    padding: 30px;

 }
